* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}


#root {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
