* {
  font-family: 'Roboto', sans-serif;
  color: white
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(17 24 39);;
}


#root {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
